/* Reset Defaults */
@import url( 'reset.css' );

/*
* All
*/

/* Document Body */
body, html {
    background: #454545;
    center 0 repeat-y;
    font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}
#header {
  height: 160px;
  margin: 0px auto;
  width: 1000px;
  background: #454545;
}
#headerMenuStrip {
    background: #00A8C6;
    height: 20px;
    width: auto;
    margin: 0 auto;
}
#headerContent {
  
  clear:both;
    background: #454545;
    margin-top: 40px;
        padding-top: 0px;
    height: 100px;
    width: 1000px;
    display: block;
    overflow: hidden;   
}

#content
{
  clear: both;
  height: 450px;
  width: 1000px;
}

 
 #contentLower
 {
   clear: both;
   background: #454545;
   display: block;
   overflow: hidden; 
   width: 1000px;
   height: 250px;
   margin: 0 auto; 
 }

#footer
{
  clear: both;
    background: #00A8C6;
    height: 50px;
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;    
}
/*
* Menu
*/
.topMenuBox {
    background: #454545;
    display: block;
    float: left;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif
    font-size: 10px/1.1;
    list-style: none;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: .5pt;
}
.topMenuBox a {
    color:#FFFFFF;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px; 
    font-family: 'Helvetica', Arial, sans-serif;
}
.topMenuBox p {
    padding: 0px 1px;
    margin: 0 0 10px 0;
    color:#FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
    font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif
}
.topMenuBox li {
    width:110px;
    height:20px;
}
.topMenuBox-one {
    background: #00A8C6;
}
.topMenuBox-two {
    background: #40C0CB;

}
.topMenuBox-three {
    background: #A1CC3F;
}
.topMenuBox-four {
    background: #8FBE00;
}

.homesweethome
{
  font:10px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
  color:#FFFFFF;
  letter-spacing: .5;
  line-height: 5px;
  list-style: none;
}

/* 
 * logo
 * 
 */

.twitter
{
  clear: both;
  font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
  float: right;
  padding: 0;
  margin: 0;
  
}

.linkedin
{
  float: right;
}

/*
 * carosel images
 */
 #slideshow {
   clear: both;
   height: 450px;
   width: 1000px;
   text-indent: -9999px; 
 }
 
 #slideshow img
 {
   display: none;
 }
 
 #slideshow img.first
 {
   display: block;
 }
 
/*
 * Lower Content
 */
 .contentCol
 {
   background:#424242;
   border-right: 1px solid #00A8C6;
   display:block;
   float: left;
   margin-top: 20px;
   margin-left: 5px;
   padding-right: 0px; 
   width: 242px;
   height: 200px;   
}

.contentCol h2
{
  padding-top: 10px;
  color: #A1CC3F;
  font:18px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}

.contentCol p
{
  color: #FFFFFF;
  font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}

.leftCol
{
  border-left: none;  
  margin-left: 5px;
  padding-left: 0px;  
}

.rightCol
{
  border-right: none;
  padding-right: 0px;
}


/*
 * Footer
 */
.footerMenu
{
  height: 20px;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;    
    font-size: 14px; 
    font:14px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
    list-style: none;
    line-height: 20px;    
    letter-spacing: .5pt;
    overflow: hidden;     
}
 
 .footerMenu a:link
 {
   text-decoration:none;
   color:#FFFFFF;
 }
 
  
 .footerMenu a:visited
 {
   text-decoration:none;
   color:#FFFFFF;
 }
 
.footerMenu a:hover
 {
   text-decoration: none;
   color: #454545;
 }


.footerMenu p 
{
    padding: 0px 1px;
    margin: 0 0 10px 0;
    text-decoration: none;
}

.footerMenu li
{
  width:110px;
  height:20px;
}

.footerHome
{

}

.footerCompany
{

}

.footerServices
{

}

.footerBlog
{

}

#copyright
{
  color:#FFFFFF;
    text-decoration: none;
    text-align: right;
    text-transform: uppercase;
    font-weight: lighter;    
    font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
    list-style: none;
    line-height: 20px;    
    letter-spacing: .5pt;
    padding-right: 10px;
    overflow: hidden;
}



